<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header>Bienvenido</header>
        <section>
            <p>inicia sesion/registrate con tu cuenta de google, si eres nuevo se te pedira luego ingresar tus datos fisiologicos: altura, edad y peso actual para poder continuar</p>
            <button id="boton_google">Inicia Sesion con google</button>
        </section>
    </main>
    <script src="/Scripts/login_google.js" type="module"></script>
</body>
</html>